.userIcons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    
}

.userIcons > img{
    width: 45.71px;
    height: 40px;
    gap: 10px;
    opacity: 1px;


}

